servidor/WSEjemplo/ClienteWS/Connected Services/WSPersonas/WSPersonas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyWS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RespuestaSetProd">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRespuesta">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespuestaSetProd" nillable="true" type="tns:RespuestaSetProd" />
  <xs:complexType name="BaseRespuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseRespuesta" nillable="true" type="tns:BaseRespuesta" />
</xs:schema>